<?xml version="1.0"?>
<config>
    <modules>
        <TM_Akismet>
            <version>1.0.0</version>
        </TM_Akismet>
    </modules>
    
    <global>
        <models>
            <akismet>
                <class>TM_Akismet_Model</class>
            </akismet>
        </models>

        <helpers>
            <akismet>
                <class>TM_Akismet_Helper</class>
            </akismet>
        </helpers>
    </global>
    
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <akismet translate="title" module="akismet">
                                            <title>Akismet Section</title>
                                        </akismet>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

        <translate>
            <modules>
                <TM_Akismet>
                    <files>
                        <default>TM_Akismet.csv</default>
                    </files>
                </TM_Akismet>
            </modules>
        </translate>

    </adminhtml>
    
    <default>
        <akismet>
            <general>
                 <enabled>0</enabled>
            </general>
        </akismet>
    </default>
    
</config>