<?xml version="1.0"?>
<config>
    <modules>
        <AW_Zblocks>
            <version>2.3.3</version><platform>ce</platform>
        </AW_Zblocks>
    </modules>
    <frontend>
        <routers>
            <zblocks>
                <use>standard</use>
                <args>
                    <module>AW_Zblocks</module>
                    <frontName>zblocks</frontName>
                </args>
            </zblocks>
        </routers>
        <layout>
            <updates>
                <zblocks>
                    <file>zblocks.xml</file>
                </zblocks>
            </updates>
        </layout>
         <translate>
            <modules>
                <AW_Zblocks>
                    <files>
                        <default>AW_Zblocks.csv</default>
                    </files>
                </AW_Zblocks>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <zblocks_admin>
                <use>admin</use>
                <args>
                    <module>AW_Zblocks</module>
                    <frontName>zblocks_admin</frontName>
                </args>
            </zblocks_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <zblocks module="zblocks" translate="title">
                        <title>Z-Blocks</title>
                        <action>zblocks_admin/adminhtml_zblocks</action>
                        <sort_order>40</sort_order>
                    </zblocks>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <zblocks>
                                    <title>Z-Blocks</title>
                                    <sort_order>40</sort_order>
                                </zblocks>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <zblocks>
                    <file>zblocks.xml</file>
                </zblocks>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Zblocks>
                    <files>
                        <default>AW_Zblocks.csv</default>
                    </files>
                </AW_Zblocks>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <zblocks>
                <class>AW_Zblocks_Model</class>
                <resourceModel>zblocks_mysql4</resourceModel>
            </zblocks>
            <zblocks_mysql4>
                <class>AW_Zblocks_Model_Mysql4</class>
                <entities>
                    <zblocks>
                        <table>aw_zblocks</table>
                    </zblocks>
                    <content>
                        <table>aw_zblocks_content</table>
                    </content>
                    <condition>
                        <table>aw_zblocks_condition</table>
                    </condition>
                </entities>
            </zblocks_mysql4>
        </models>
        <resources>
            <zblocks_setup>
                <setup>
                    <module>AW_Zblocks</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zblocks_setup>
            <zblocks_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zblocks_write>
            <zblocks_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zblocks_read>
        </resources>
        <blocks>
            <zblocks>
                <class>AW_Zblocks_Block</class>
            </zblocks>
            <zblockscontent>
                <class>AW_Zblocks_Block_Adminhtml_Zblocks_Edit_Tab_Content_Edit</class>
            </zblockscontent>
        </blocks>
        <helpers>
            <zblocks>
                <class>AW_Zblocks_Helper</class>
            </zblocks>
        </helpers>
        <events>
            <on_enterprise_staging_merge>
                <observers>
                    <zblocks_observer>
                        <type>singleton</type>
                        <class>zblocks/observer</class>
                        <method>onStagingMerge</method>
                    </zblocks_observer>
                </observers>
            </on_enterprise_staging_merge>
        </events>
        <enterprise>
            <staging>
                <staging_items>
                    <zblocks_data translate="label">
                        <module>AW_Zblocks</module>
                        <model>zblocks</model>
                        <label>Z-Blocks data</label>
                        <resource_adapter>zblocks/staging_adapter_item_zblock</resource_adapter>
                        
                    </zblocks_data>
                </staging_items>
            </staging>
        </enterprise>
    </global>
    
    <phpunit>
        <suite>
            <modules>
                <AW_Zblocks />
            </modules>
        </suite>
    </phpunit>    
    
</config>
