<?xml version="1.0"?>
<config>
    <modules>
        <AW_Ajaxcartpro>
            <version>3.0.0</version><platform>ce</platform>
        </AW_Ajaxcartpro>
    </modules>
    <global>
        <blocks>
            <ajaxcartpro>
                <class>AW_Ajaxcartpro_Block</class>
            </ajaxcartpro>
        </blocks>
        <helpers>
            <ajaxcartpro>
                <class>AW_Ajaxcartpro_Helper</class>
            </ajaxcartpro>
        </helpers>
        <resources>
            <ajaxcartpro_setup>
                <setup>
                    <module>AW_Ajaxcartpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcartpro_setup>
            <ajaxcartpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcartpro_write>
            <ajaxcartpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcartpro_read>
        </resources>
        <models>
            <ajaxcartpro>
                <class>AW_Ajaxcartpro_Model</class>
                <resourceModel>ajaxcartpro_mysql4</resourceModel>
            </ajaxcartpro>
            <ajaxcartpro_mysql4>
                <class>AW_Ajaxcartpro_Model_Mysql4</class>
            </ajaxcartpro_mysql4>
        </models>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <ajaxcartproresponse>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>beforeRenderLayout</method>
                    </ajaxcartproresponse>
                </observers>
            </controller_action_layout_render_before>
            <http_response_send_before>
                <observers>
                    <clearresponse>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>sendResponseBefore</method>
                    </clearresponse>
                </observers>
            </http_response_send_before>
            <controller_action_layout_load_before>
                <observers>
                    <ajaxcartpro_system_config>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>loadLayoutBefore</method>
                    </ajaxcartpro_system_config>
                </observers>
            </controller_action_layout_load_before>
            <sales_quote_remove_item>
                <observers>
                    <ajaxcartpro_quote_item_remove>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>salesQuoteRemoveItem</method>
                    </ajaxcartpro_quote_item_remove>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_product_add_after>
                <observers>
                    <ajaxcartpro_cart_product_add_after>
                        <type>singleton</type>
                        <class>ajaxcartpro/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </ajaxcartpro_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>
    <frontend>
        <routers>
            <ajaxcartpro>
            <use>standard</use>
            <args>
                <module>AW_Ajaxcartpro</module>
                <frontName>ajaxcartpro</frontName>
            </args>
            </ajaxcartpro>
        </routers>
        <layout>
            <updates>
                <AW_Ajaxcartpro module="AW_Ajaxcartpro">
                    <file>ajaxcartpro.xml</file>
                </AW_Ajaxcartpro>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Ajaxcartpro>
                    <files>
                        <default>AW_Ajaxcartpro.csv</default>
                    </files>
                </AW_Ajaxcartpro>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <ajaxcartpro_admin>
                <use>admin</use>
                <args>
                    <module>AW_Ajaxcartpro</module>
                    <frontName>ajaxcartpro_admin</frontName>
                </args>
            </ajaxcartpro_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ajaxcartpro module="AW_Ajaxcartpro">
                    <file>aw_ajaxcartpro.xml</file>
                </ajaxcartpro>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxcartpro>
                                            <title>aheadWorks - AJAX Cart Pro</title>
                                        </ajaxcartpro>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <AW_Ajaxcartpro>
                    <files>
                        <default>AW_Ajaxcartpro.csv</default>
                    </files>
                </AW_Ajaxcartpro>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <ajaxcartpro>
            <general>
                <progressanimation>center</progressanimation>
                <cartanimation>opacity</cartanimation>
                <showprogressanimation>1</showprogressanimation>
            </general>
            <addproductconfirmation>
                <content>
{{block type="ajaxcartpro/confirmation_items_continue"}}
or
{{block type="ajaxcartpro/confirmation_items_gotocheckout"}}
                </content>
                <enabled>1</enabled>
                <countdown>0</countdown>
            </addproductconfirmation>
            <removeproductconfirmation>
                <content>
{{block type="ajaxcartpro/confirmation_items_continue"}}
or
{{block type="ajaxcartpro/confirmation_items_gotocheckout"}}
                </content>
                <enabled>1</enabled>
                <countdown>0</countdown>
            </removeproductconfirmation>
        </ajaxcartpro>
    </default>
</config>
