
/* +++ Quoting */

.helpdeskultimate-customer-view .do-quote{
	float:right;
}

.helpdesk-message FIELDSET{
	border:1px solid #999;
	padding:5px;
	margin-left:10px;
	font-style:italic;
}

.helpdesk-messages .message-body FIELDSET LEGEND{
	padding:5px;
	font-weight:bold;
	display:inline;
}

/* --- Quoting */


/* +++ Attachment */
.helpdesk-messages .message-body .attachment{
	float:left;
}
/* --- Attachment*/


